// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "../iconsets/font-awesome/font-awesome";



.tiger-package {
  background-color:black;

/*
############################################################################
# TOP PANEL STYLINGS
############################################################################
*/

  ul.button-group{
    list-style: none;
    display:inline-flex;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding:0px;
    text-align: center;
    margin-left:10px
  }
  li.fa{
    display: inline-block;
    border-left: 1px solid #ffffff;
    color:white;
    font-weight:bold;
    font-size: 18px;
    cursor: pointer;
    padding: 4px;

    &:hover{
    color:red;
    }
  }

  li.icon{
     cursor: pointer;
     color:white;
     padding: 4px;
     &:hover{
       color:red;
     }
     //icon font is set by the Atom theme, so have to override them here.0
     &:before{
       margin-right:0px;
       font-size:18px;
     }
  }
}

/*
############################################################################
# MARKDOWN VALIDATOR PANEL STYLINGS
############################################################################
*/

//close button styling for the markdown validator panel
span.markdown-panel-closer{
  cursor: pointer;
  float:right;
  color: white;
  &:hover{
    color:red;
  }
}

div.markdown-error-panel{
    height:75px;
    overflow-y: scroll;

    title{
      color:antiquewhite;
      display:inline;
    }

    .markdown-error-panel-invalid-warning{
        color:gray;
    }
    .markdown-error-panel-invalid-warning::before{
      content: "warning";
      background-color: #2634d9;
      color:white;
      padding-left:3px;
      padding-right:3px;
      border-radius:3px;
      margin-right:5px;
    }
}

 ul.markdown-errors {
      list-style-type: none;
      padding-left:0px;
      li.item{
        border: none;
        text-decoration: none;
      }
      li.item::before{
        content: "error";
        background-color: #D92626;
        color:white;
        padding-left:3px;
        padding-right:3px;
        border-radius:3px;
      }

      span.number{
        color:white;
        padding-left:5px
      }
      span.number::before{
        content:"@ line number";
        color:white;
        padding-right:3px;
      }

      span.description{
        color:gray;
        padding-left:10px;
      }
      span.description::after{
        content:".";
      }
    }
