// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.tiger-package {
  background-color:black;

 .icon{
    cursor: pointer;
    padding-left: 10px;
    color:white;
 }
}

/*
############################################################################
# MARKDOWN VALIDATOR PANEL STYLINGS
############################################################################
*/

//close button styling for the markdown validator panel
span.markdown-panel-closer{
  cursor: pointer;
  float:right;
  color: white;
}

div.markdown-error-panel{
    height:75px;
    overflow-y: scroll;

    title{
      color:antiquewhite;
      display:inline;
    }

    .markdown-error-panel-invalid-warning{
        color:gray;
    }
    .markdown-error-panel-invalid-warning::before{
      content: "warning";
      background-color: #2634d9;
      color:white;
      padding-left:3px;
      padding-right:3px;
      border-radius:3px;
      margin-right:5px;
    }
}

 ul.markdown-errors {
      list-style-type: none;
      padding-left:0px;
      li.item{
        border: none;
        text-decoration: none;
      }
      li.item::before{
        content: "error";
        background-color: #D92626;
        color:white;
        padding-left:3px;
        padding-right:3px;
        border-radius:3px;
      }

      span.number{
        color:white;
        padding-left:5px
      }
      span.number::before{
        content:"@ line number";
        color:white;
        padding-right:3px;
      }

      span.description{
        color:gray;
        padding-left:10px;
      }
      span.description::after{
        content:".";
      }
}
